.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.createEventIdol{
	
}
.active {
  display: flex;
}

.close {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.group {
  display: flex;
  justify-content: center;
  overflow: auto;
  /*height: 100vh;*/
  z-index: 2;
}

.popup {
  min-width: 500px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  /*margin: 50px 0;*/
}

.popupEvent {
  min-width: 750px;
}

.head {
  background-color: #0c0c17;
  color: #fff;
  font-size: 30px;
  padding: 40px;
  text-align: center;
  border-radius: 6px 6px 0 0;
  opacity: 0;
}

.error {
  color: #fe0d36;
  background-color: #331a2d;
}

.success {
  background-color: #1c302e;
  color: #1fde39;
}

.headSub {
  color: #ffffff;
  font-size: 14px;
  margin-top: 10px;
}

.body {
  background-color: #1c1c2d;
  padding: 30px;
  border-radius: 0 0 6px 6px;
  max-height: 75vh;
  overflow-y: auto;
}
.bodyNoBack{
  background-color: transparent;
  padding: 35px 60px;
  border-radius: 0 0 6px 6px;
  max-height: 75vh;
  overflow-y: auto;
}
/* styling content of Modal*/

.blockCenter {
  display: flex;
  justify-content: center;
}

.desc {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin: 25px 0;
}

.descErr {
  color: #fe0d36;
}

.descSub {
  text-align: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
  margin-top: 25px;
}
.flexity{
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.mt0 {
  margin-top: 0;
}

/* CREATE EVENT MODAL*/
.dropdownGroup {
  padding: 0 20px;
  display: inline-block;
}
/*
.dropdownGroup:first-child{
	padding-left: 0;
}
.dropdownGroup:last-child{
	padding-right: 0;
}
*/
.selectsRow {
  display: flex;
  justify-content: space-around;
}

.dropdownTitle {
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.3);
}

.dota {
  height: 16px;
}
.dotaMore {
  height: 22px;
}
.selfPic{
	height: 30px;
}
.rateForm {
  min-width: 195px;
}
.rateForm span {
  margin: 0 15px;
  color: rgba(255, 255, 255, 0.5);
}
.rateFormContent {
  margin-bottom: 25px;
}

.side {
  display: flex;
  align-items: center;
}

.sideButton {
  height: 40px;
  width: 80px;
  background-color: #0c0c17;
  border-radius: 4px;
  font-size: 15px;
  transition: 0.3s;
  transition-property: background-color, color;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.sideActive {
  border: 0.5px solid #fff;
  background-color: #1c1c2d;
  color: #fff;
  cursor: unset;
}
.sideText {
  margin-left: 20px;
  margin-right: 20px;
}
.password {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.passwordInput {
  width: 180px;
  height: 40px;
  background-color: #0c0c17;
  margin-left: 20px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: space-between;
}
.passwordInput span {
  padding: 0 15px;
  border-radius: 4px;
}
.password .passwordInput input {
  height: 100%;
  flex: 1;
  background-color: #000;
  padding: 0 10px;
}
.password .passwordInput input::placeholder {
  font-size: 14px;
}
.passwordToggle {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  border: 1px solid #1fde39;
  color: #1fde39;
  background-color: #1c1c2d;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition-property: color, border-color;
  transition-delay: 0.2s;
  align-items: center;
}
.passwordToggleActive {
  color: #fe0d36;
  border-color: #fe0d36;
}

/* END OF CREATE EVENT MODAL*/
/* cancel modal */

.gameStart {
  text-align: center;
  margin: 10px 0 40px;
}
/* end of cancel modal */

.rejectBlock {
  text-align: center;
  margin: 30px 0;
}

/* AnswerAccept */
.opponent {
  margin: 10px 0 35px;
}

.gray {
  color: rgba(255, 255, 255, 0.3);
}

.opponentContent {
  background-color: #121220;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

/* end of AnswerAccept */
/* Accept modal */
.inputTitle {
  color: #c2c2c2;
  margin-bottom: 10px;
}

.inputGroup {
  display: flex;
  align-items: center;
}

.inputSub {
  padding: 10px;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #121220;
  border-radius: 3px;
  padding: 30px 20px;
  margin: 30px 0;
  color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
}
.mt20 {
  margin-top: 20px;
}

/* end Accept modal */
/*opponents found modal*/
.info {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}

.infoTitle {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}

.sum {
  font-size: 16px;
  color: #ffffff;
  position: relative;
}

.sumCurrency {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
}
.btn {
  margin-left: 20px;
}
/*end of opponents */

/* participate 5 vs 5 modal */
.participatePassword {
  flex-direction: column;
  margin: 0;
}
.participatePasswordInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 295px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid rgba(137, 137, 144, 0.6);
  background-color: #1c1c2d;
}
.participatePasswordInput span {
  display: flex;
  opacity: 0.6;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 15px;
  height: 100%;
  background-color: #898990;
  border-radius: 4px;
}

.participatePassword .participatePasswordInput input {
  text-align: center;
  height: 100%;
  flex: 1;
  padding: 0 10px;
}
.participateRate {
  margin-top: 15px !important;
  margin-bottom: 30px !important;
}
.participateLockIcon {
  color: rgba(255, 255, 255, 0.3);
  margin-left: 5px;
}

/*leave event*/

.leaveButton {
  margin-right: 20px;
}

/*event name*/
.eventname {
	display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #121220;
    border-radius: 3px;
    padding: 30px 50px;
    margin: 30px 0;
    color: rgba(255, 255, 255, 0.3);
}
.eventname input {
	width: 100%;
}
.eventnameTitle {
	color: rgba(255, 255, 255, 0.3);
}
.unders{
	text-decoration: underline;
	cursor: pointer;
}
.unders:hover{
	text-decoration: none;
}
.closeIcon {
	display: none;
}
.createModalOnDesktop{
	display: block;
}
.createModalOnMobile{
	display: none;
}












.mobilePasswordSwitcher {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.mobilePasswordSwitcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.sliderPassword {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1A1A27;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderPassword:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderPassword {
  background: linear-gradient(289.34deg, #46AC56 25.23%, #38B179 76.69%);
}

input:focus + .sliderPassword {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderPassword:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderPassword.sliderRoundPassword {
  border-radius: 34px;
}

.sliderPassword.sliderRoundPassword:before {
  border-radius: 50%;
}
.sponsorSwitcherMa{
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px auto 0 auto;
    text-align: center;
    width: 100%;
}












@media screen and (max-width: 767px){
	.popup {
		min-width: unset !important;
		width: 100%;
		background: #1c1c2d;
	}
	.group {
		height: 100vh;
	}
	.selectsRow {
		display: block;
		text-align: center;
	}
	.dropdownGroup{
		padding: 0 0 20px 0;
		display: block;
	}
	.body{
		padding: 30px 10px;
		max-height: unset;
	}
	.head{
		padding: 20px;
		position: relative;
	}
	.eventname{
		padding: 0;
		background: none;
		display: block;
	}
	.eventnameFlex{
		display: flex;
	}
	.eventnameTitle {
		margin-bottom: 4px;
		color: #ADCCC7;
		text-align: left;
		
	}
	.eventname input {
		width: 100%;
		font-size: 16px;
		padding: 17px 24px;
		height: auto;
		border-radius: 10px;
	}
	.closeIcon {
		display: block;
		position: absolute;
		width: 10px;
		height: 10px;
		right: 14px;
		top: 0;
		cursor: pointer;
	}
	.topfiftenn{
		top: 15px;
	}
	.onlyBody{
		height: calc(100vh - 101px);
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.createModalOnDesktop{
		display: none;
	}
	.createModalOnMobile{
		display: block;
	}
	.createModalOnMobile .head, .createModalOnMobile .body {
		background: transparent;
	}
	.createModalOnMobile .body {
		padding-top: 0;
	}
	.createModalOnMobile .rateForm{
		position: relative;
		display: flex;
		align-items: center;
	}
	.createModalOnMobile .rateForm span{
		font-size: 18px;
		color: #ADCCC7;
		
	}
	.createModalOnMobile .rateForm span.goba {
		position: absolute;
		right: 0;
		font-size: 14px;
		color: #ADCCC7;
		
	}
	.rateFormContent {
	    margin-bottom: 24px;
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
	}
	.createModalOnMobile .head{
		text-align: left;
		font-weight: 330;
		font-size: 34px;
		line-height: 110%;
	}
	.createModalOnMobile .dropdownTitle {
		margin-bottom: 4px;
		color: #ADCCC7;
		text-align: left;
		
	}
	.dropdownGroupSerega{
		margin-bottom: 24px;
	}
	.dota {
	  height: 22px;
	}
	.side, .side div {
		width: 100%;
	}
	.sideButton{
		border: none;
		background: rgba(26, 26, 39, 0.4);
		font-size: 16px;
		padding: 17px 24px;
		height: auto;
		border-radius: 10px;
		color: #ADCCC7;
	}
	.sideActive {
		border: none;
		background: #3fae66;
		color: #fff;
		font-size: 16px;
		padding: 17px 24px;
		height: auto;
		border-radius: 10px;
	}
	.privOrPubCont{
		margin-top: 24px;
	}
	.passwordToggle{
		width: unset;
		height: unset;
		display: flex;
		border: none;
		border-radius: 0;
		background: none;
	}
	.password{
		width: 100%;
	}
	.typeOfLobby{
		
		font-size: 16px;
		color: #ADCCC7;
		margin-left: 12px;
		width: 48px;
	}
	.password .passwordInput{
		width: auto;
		height: auto;
		background-color: transparent;
		border: 0;
		margin: 0;
		margin-left: 40px;
	}
	.password .passwordInput input {
		border: none;
		background: linear-gradient(310.45deg, #46AC56 25.23%, #38B179 76.69%);
		color: #fff;
		font-size: 16px;
		padding: 17px 15px;
		height: auto;
		border-radius: 10px;
		width: 100%;
	}
	.password .passwordInput input::-webkit-input-placeholder { /* Edge */
	  color: #fff;
	}
	.password .passwordInput input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: #fff;
	}
	.password .passwordInput input::placeholder {
	  color: #fff;
	}
	
	.password .passwordInput input:disabled {
		border: none;
		background: rgba(26, 26, 39, 0.4);
		font-size: 16px;
		padding: 17px 15px;
		height: auto;
		border-radius: 10px;
		color: #ADCCC7;
		width: 100%;
	}
	.password .passwordInput input:disabled::-webkit-input-placeholder { /* Edge */
	  color: #7d8384;
	}
	.password .passwordInput input:disabled:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: #7d8384;
	}
	.password .passwordInput input:disabled::placeholder {
	  color: #7d8384;
	}
	.isSponsorshipBlock{
		margin-top: 34px;
	}
	.isSponsorshipBlockBigText{
		font-weight: 330;
		font-size: 24px;
		line-height: 110%;
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}
	.dibitedText{
		
		font-size: 16px;
		line-height: 130%;
		text-align: center;
		color: #FFFFFF;
		width: 80%;
		margin: 40px auto 11px auto;
	}
	.ifEventCanceledWholeText{
		
		font-size: 14px;
		line-height: 130%;
		text-align: center;
		color: #ADCCC7;
	}
	.blockOfEsse{
		padding: 20px 40px 45px;
		margin: 130px -10px 0 -10px;
		background: rgba(26, 26, 39, 0.8);
	}
	.itogy{
		
	}
	.maxWinText{
		
		font-size: 16px;
		line-height: 130%;
		text-align: center;
		color: #ADCCC7;
	}
	.currencyWinner {
		font-weight: 330;
		font-size: 24px;
		line-height: 130%;
		text-align: center;
		color: #FFFFFF;
	}
	.currencyWinner span{
		
		margin-left: 10px;
	}
	.forTakeCom{
		
		font-size: 12px;
		line-height: 130%;
		text-align: center;
		color: #ADCCC7;
		opacity: 0.5;
	}
	.itogysubmitButton{
		padding-top: 25px;
	}
	
	.someStyle{
		background: #1A1A27;
		opacity: 0.4;
		border-radius: 10px;
	}
	
}

